@font-face { font-family: 'NanumBarunGothic';
    src: url('./nanum/NanumBarunGothic.eot');
    src: url('./nanum/NanumBarunGothic.eot') format('embedded-opentype'),
         url('./nanum/NanumBarunGothic.woff') format('woff');
}

* {
    margin: 0;
}

#footer {
    background-image: url(./footer/footer.jpg);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:30px;
    font-family:'NanumBarunGothic';
}

.osondoson {
    /* width: 187px;  */
    padding: 30px;
    width: 160px;
    position: relative;
}

.footer-text{
    font-size:medium;
    color:lightgray;
}