@font-face{
    font-family:'BMJUA';
    src:url('./BMJUA_otf.otf');
}
@font-face{
    font-family:'BMDOHYUN';
    src:url('./BMDOHYEON_otf.otf');
}
@font-face{
    font-family:'BMHANNAPro';
    src:url('./BMHANNAProOTF.otf');
}

html{
    font-family:'BMJUA';
    text-align:center;
}
body{
    position:relative;
    min-width:1200px;
    margin:0 auto;
    font-size:100%;
    line-height:100%;
    text-align:center;
}
button{
    appearance:none;
    border:0px;
    background-color:transparent;
    font-family:'BMJUA';
}

/*section 1. 탭메뉴*/

#restaurantRecommend{
    margin-top:40px;
}

#menuType{
    margin-top:20px;
    margin-bottom:1px;
}

.typeButton{
    width:15.2%;
    margin-left:-1px;
    margin-right:-1px;
    margin-bottom:2px;
    height:50px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#CADFB8;
    color:#506A4C;
    font-size:large;
    cursor:pointer;

    transition:color .3s ease;
    transition:background-color .5s ease;
}
.typeButton:hover{
    color:white;
    background-color:#506A4C;
}
.typeButton.current{
    color:white;
    background-color:#506A4C;
}

.moreList{
    height:25px;
    margin:0px 5%;
}
.moreList button{
    float:right;
    margin-top:5px;
    margin-left:10px;
    font-family:'BMHANNAPro';
    font-size:medium;
    text-decoration-line:underline;
    cursor:pointer;
}

#recommendBox{
    display:flex;
}

.recommendInnerBox{
    width:100%;
    padding:0;
    margin-top:5px;
    margin-bottom:10px;
    background-color:#dfe7d8;
    display:flex;
}

li {
    list-style-type:none;
    float:left;
    width:33%;
}
li .restaurant-item{
    transition:background-color .3s ease;
    transition:box-shadow .3s ease;
}
li:hover .restaurant-item{
    background-color:#CADFB8;
    box-shadow:0px 0px 30px -5px #506A4C;
}



.restaurant-item{
    border-radius:10px;
    display:flex;
    align-items:center;
    cursor:pointer;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:12px;
}


.thumb{
    width:200px;
    height:200px;
    background-color:rgb(231,230,230);
    padding:0;
    box-shadow:2px -2px 10px -3px #506A4C;
    margin-right:auto;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
}
li .thumb{
    transition:background-size 0.2s ease;
}
li:hover .thumb{
    background-size:150%;
}

.info{
    margin-right:auto;
}

.starBox{
    display:flex;
    margin-left:30px;
}
.star-ratings {
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
    font-size:x-large;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
    font-size:x-large;
}

.starNum{
    font-size:medium;
    font-family:'BMJUA';
    color:#2b2a29;
    width: 42px;
    overflow: hidden;
}

#recommendBox .restaurantTitle{
    margin-top:30px;
    margin-bottom:20px;
    font-size:xx-large;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
}

.btn-nav{
    width:5%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:50px 100px;
    cursor:pointer;
}

.prev-slick-arrow{
    background-image:url(./home/left-removebg-preview.png);
}

.next-slick-arrow{
    background-image:url(./home/right-removebg-preview.png);
}



/*section 2. 리뷰 왕 맛집*/

#restaurantOfMonth{
    margin-top:20px;
}

#btn_restaurantOfMonth{
    height:70px;
    background-color:#506A4C;
    width:30%;
    font-size:xx-large;
    color:white;
    margin:20px 0 0 0;
    border-radius:10px;
    z-index:10;
}
#box_restaurantOfMonth{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 4%;
}

.resBox_emoji{
    width:33%;
}

#gold,#silver,#bronze{
    margin: 0 1px 20px 1px;
    background-color:rgb(226,240,217);
    cursor:pointer;
}

#gold{
    box-shadow:0px 0px 20px 5px gray;
    z-index:1;
}

#silver{
    box-shadow:-5px -5px 20px -5px gray;
}
#bronze{
    box-shadow: 5px -5px 20px -5px gray;
    position:relative;
}

.medalBox{
    height:210px;
    padding:0;
    background-color:rgb(231,230,230);
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
    margin :30px 30px 30px 30px;
}

#gold .medalBox{
    border-color:rgb(252,192,0);
    border-width:5px;
    border-style:solid;
}
#silver .medalBox{
    border-color:rgb(127,127,127);
    border-width:5px;
    border-style:solid;
}
#bronze .medalBox{
    border-color:rgb(132,60,12);
    border-width:5px;
    border-style:solid;
}

.goldCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.goldCrown{
    position:absolute;
    z-index:10;
    width:100px;
    background-image: url(./home/gold.svg);
    background-repeat:no-repeat;
    width:100px;
}

.silverCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.silverCrown{
    position:absolute;
    z-index:10;
    width:100px;
    background-image: url(./home/silver.svg);
    background-repeat:no-repeat;
    width:100px;
}

.bronzeCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.bronzeCrown{
    position:absolute;
    z-index:10;
    width:100px;
    background-image: url(./home/bronze.svg);
    background-repeat:no-repeat;
    width:100px;
}

.goldemojiFix{
    position:relative;
    top:-120px;
    left:100px;
}
.goldemojiFix2{
    position:relative;
    top:-350px;
    right:220px;
}
.goldemoji{
    position:absolute;
    z-index:50;
    width:100px;
    height:100px;
}
.silveremojiFix{
    position:relative;
    top:-415px;
    right:210px;
}
.silveremoji{
    position:absolute;
    z-index:50;
    width:100px;
    height:100px;
}
.bronzeemojiFix{
    position:relative;
    top:-415px;
    right:200px;
}
.bronzeemoji{
    position:absolute;
    z-index:50;
    width:100px;
    height:100px;
}

.silveremojiFix2{
    position:relative;
    top:-420px;
    height:0;
}
.bronzeemojiFix2{
    position:relative;
    top:-420px;
    height:0;
}
.talkemoji{
    z-index:-1;
    width:200px;
    height:85px;
}

.sreviewTextFix{
    position:absolute;
    width:200px;
    top:35px;
    left:50%;
    transform: translate( -50%, -50% );
}
.breviewTextFix{
    position:absolute;
    width:200px;
    top:35px;
    left:50%;
    transform: translate( -50%, -50% );
}

.reviewText{
    z-index:51;
    height:50px;
    overflow:hidden;
}

#restaurantOfMonth .restaurantTitle{
    font-family:'BMHANNAPro';
    font-size:x-large;
    margin-top:20px;
    margin-bottom:20px;
}

/*floating button*/

.floating-button{
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    z-index:10000;
}

.floating{
    width:60px;
    height:60px;
    border-radius:100%;
    background-color:#5b7a4c;
    box-shadow:10px 10px 10px -5px #CADFB8;

    background-position:center center;
    background-size:40px 40px;
    background-repeat:no-repeat;

    margin-top:10px;
    margin-bottom:10px;
}

.icon-menu{
    background-image:url(./home/icon-menu.png);
    box-shadow:10px 10px 1px -3px #CADFB8;
    background-color:#3a5e11;
    background-size:50px 50px;
    margin-top:20px;
}

.floating-hidden{
    display:none;
}
.floating-button:hover .floating-hidden{
    display:block;
}

.icon-map{
    background-image:url(./home/icon-map.png);

    transition:box-shadow 0.1s ease;
}
.icon-map:hover{
    background-color: #3d5031;
    background-image:url(./home/text-map.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}

.icon-restaurantUpload{
    background-image: url(./home/icon-Upload.png);
    transition:box-shadow 0.1s ease;
}
.icon-restaurantUpload:hover{
    background-color: #3d5031;
    background-image:url(./home/text-Upload.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}

.icon-restaurantList{
    background-image: url(./home/icon-restaurant.png);
    transition:box-shadow 0.1s ease;
}
.icon-restaurantList:hover{
    background-color: #3d5031;
    background-image:url(./home/text-restaurant.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}

/*탭*/
.tab-content{
	display: none;
    width:100%;
}

.tab-content.current{
	display: inherit;
}

.forTabSize{
    width:100%;
}

.recommendInnerBox{
    display:none;
    width:100%;
}
.recommendInnerBox.current{
	display: inherit;
}



/*section 3. 퀵메뉴*/
#quickMenu{
    margin:20px 5%;
    margin-top:70px;
    display:flex;
}
 #box_quickMenu{
    margin:0;
    width:10%;
    height:70px;
    background-color:#506A4C;
    color:white;
    font-size:large;
    font-family:'BMDOHYUN';

}
#goto-restaurantShow,#goto-restaurantUpload,#goto-mapSearch{
    width:30%;
    height:70px;
    background-color:#CADFB8;
    border-color:#506A4C;
    border-width:1px;
    border-style:solid;
    font-size:large;
    font-family:'BMHANNAPro';
    cursor:pointer;
    transition:background-color 0.2s ease;
}
#goto-restaurantShow:hover,#goto-restaurantUpload:hover,#goto-mapSearch:hover{
    background-color:#AACA95;
}
