    .page-nation li{
    list-style: none;
    }
    .page-wrap{
    text-align: center;
    font-size: 0;
    width: 100%;
    float:left;
    }
    .page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }
    .page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #CADFB8;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color:  #506A4C;
    text-decoration: none;
    font-weight:bold;
    cursor: pointer;
    }