* {
    margin: 0;
    padding: 0;
}

@font-face{
        font-family:'BMJUA';
        src:url('./BMJUA_otf.otf');
    }
    @font-face{
        font-family:'BMDOHYUN';
        src:url('./BMDOHYEON_otf.otf');
    }
    @font-face{
        font-family:'BMHANNAPro';
        src:url('./BMHANNAProOTF.otf');
    }

body {
    min-width: 1000px;
    margin: 0 auto;
}

/*상단 4개의 메뉴바*/
.bar {
    margin: 20px 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;;
}

.bar-name,
.bar-rank,
.bar-review,
.bar-goto {
    position: relative;
    border: 1px solid #506A4C;
    background-color: #506A4C;
    border-radius: 10px;
    box-shadow: 2px -2px 10px -3px gray;

    font-size: 40px;
    color: white;
    font-family: 'BMJUA';
    text-align: center;
    line-height: 80px;

    height: 80px;
    padding: 10px 10px;
    margin: 0px 10px;
    overflow: hidden;
}

.review-card {
    height: 300px;
    background-color: white;
    border: solid 3px #CADFB8;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 60px;
    font-family: 'BMDOHYUN';
    margin-bottom: 10px;
}

.review-img {
    width: 320px;
    height: 240px;
    margin: 15px 25px;
    border: 2px solid #506A4C;
}

.review-contents {
    color: #506A4C;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 27px;
}