@font-face{
    font-family:'BMJUA';
    src:url('../BMJUA_otf.otf');
}
@font-face{
    font-family:'BMDOHYUN';
    src:url('../BMDOHYEON_otf.otf');
}
@font-face{
    font-family:'BMHANNAPro';
    src:url('../BMHANNAProOTF.otf');
}

html{
    font-family:'BMJUA';
    text-align:center;
}
body{
    position:relative;
    min-width:1000px;
    margin:0 auto;
    font-size:100%;
    line-height:100%;
    text-align:center;
}
button{
    appearance:none;
    border:0px;
    background-color:transparent;
    font-family:'BMJUA';
}

#menuType{
    margin-top:20px;
    margin-bottom:1px;
}

.typeButton{
    width:15.2%;
    margin-left:-1px;
    margin-right:-1px;
    margin-bottom:2px;
    height:50px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#CADFB8;
    color:#506A4C;
    font-size:large;
    cursor:pointer;

    transition:color .3s ease;
    transition:background-color .5s ease;
}
.typeButton:hover{
    color:white;
    background-color:#506A4C;
}

.moreList{
    height:25px;
    margin:0px 60px;
}
.moreList button{
    float:right;
    margin-top:5px;
    font-family:'BMHANNAPro';
    font-size:medium;
    text-decoration-line:underline;
    cursor:pointer;
}

#recommendBox{
    display:flex;
}

#recommendInnerBox{
    width:100%;
    padding:0;
    margin-top:5px;
    margin-bottom:10px;
    background-color:#dfe7d8;
    display:flex;
}

li {
    list-style-type:none;
    float:left;
    width:33%;
    border-radius:10px;
    transition:background-color .3s ease;
    transition:box-shadow .3s ease;
}
li:hover{
    background-color:#CADFB8;
    box-shadow:0px 0px 30px -5px #506A4C;
}



.restaurant-item{
    display:flex;
    align-items:center;
    cursor:pointer;
    margin: 10px 5px 10px 5px;
}


.thumb{
    width:200px;
    height:200px;
    background-color:rgb(231,230,230);
    padding:0;
    box-shadow:2px -2px 10px -3px #506A4C;
    margin-right:auto;
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
}
li .thumb{
    transition:background-size 0.2s ease;
}
li:hover .thumb{
    background-size:150%;
}

.thumb1{
    background-image:url(food3.jpg);
}

.info{
    margin-right:auto;
}

.star-ratings {
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

#recommendBox .restaurantTitle{
    margin-top:30px;
    margin-bottom:20px;
    font-size:xx-large;
}

.btn-nav{
    width:5%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:50px 100px;
}

.prev-slick-arrow{
    background-image:url(left-removebg-preview.png);
}

.next-slick-arrow{
    background-image:url(right-removebg-preview.png);
}



/*이달의 맛집*/

#btn_restaurantOfMonth{
    height:70px;
    background-color:#506A4C;
    width:30%;
    font-size:xx-large;
    color:white;
    margin:20px 0 0 0;
    border-radius:10px;
    z-index:10;
}
#box_restaurantOfMonth{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 50px;
}

#gold,#silver,#bronze{
    width:33%;
    margin: 0 1px 20px 1px;
    background-color:rgb(226,240,217);
    cursor:pointer;
}

#gold{
    box-shadow:0px 0px 20px 5px gray;
    z-index:1;
}

#silver{
    box-shadow:-5px -5px 20px -5px gray;
}
#bronze{
    box-shadow: 5px -5px 20px -5px gray;
}

.medalBox{
    height:210px;
    padding:0;
    background-color:rgb(231,230,230);
    background-size:100%;
    background-position:center center;
    background-repeat:no-repeat;
    margin :30px 30px 30px 30px;
}

#gold .medalBox{
    border-color:rgb(252,192,0);
    border-width:5px;
    border-style:solid;
    background-image:url(food3.jpg);
}
#silver .medalBox{
    border-color:rgb(127,127,127);
    border-width:5px;
    border-style:solid;
}
#bronze .medalBox{
    border-color:rgb(132,60,12);
    border-width:5px;
    border-style:solid;
}

.goldCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.goldCrown{
    position:absolute;
    z-index:10;
    background-image: url(gold.svg);
    background-repeat:no-repeat;
}

.silverCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.silverCrown{
    position:absolute;
    z-index:10;
    background-image: url(silver.svg);
    background-repeat:no-repeat;
}

.bronzeCrownFix{
    position:relative;
    top:-97px;
    right:55px;
}
.bronzeCrown{
    position:absolute;
    z-index:10;
    background-image: url(bronze.svg);
    background-repeat:no-repeat;
}

#restaurantOfMonth .restaurantTitle{
    font-family:'BMHANNAPro';
    font-size:x-large;
    margin-top:20px;
    margin-bottom:20px;
}

/*퀵메뉴*/

#quickMenu{
    margin:20px 50px 30px 50px;
    display:flex;
}
 #box_quickMenu{
    margin:0;
    width:10%;
    height:70px;
    background-color:#506A4C;
    color:white;
    font-size:large;
    font-family:'BMDOHYUN';

}
#goto-restaurantShow,#goto-restaurantUpload,#goto-mapSearch{
    width:30%;
    height:70px;
    background-color:#CADFB8;
    border-color:#506A4C;
    border-width:1px;
    border-style:solid;
    font-size:large;
    font-family:'BMHANNAPro';
    cursor:pointer;
}
#goto-restaurantShow:hover ,#goto-restaurantUpload:hover,#goto-mapSearch:hover{
    background-color:rgb(226,240,217);
}

/*floating button*/

.floating-button{
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    z-index:100;
}

.floating{
    width:60px;
    height:60px;
    border-radius:100%;
    background-color:#5b7a4c;
    box-shadow:10px 10px 10px -5px #CADFB8;

    background-position:center center;
    background-size:40px 40px;
    background-repeat:no-repeat;

    margin-top:10px;
    margin-bottom:10px;
}

.icon-menu{
    background-image:url(icon-menu.png);
    background-color:#3a5e11;
    background-size:50px 50px;
    margin-top:20px;
}

.floating-hidden{
    display:none;
}
.floating-button:hover .floating-hidden{
    display:block;
}

.icon-map{
    background-image:url(icon-map.png);

    transition:box-shadow 0.1s ease;
}
.icon-map:hover{
    background-color: #3d5031;
    background-image:url(text-map.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}

.icon-restaurantUpload{
    background-image: url(icon-Upload.png);
    transition:box-shadow 0.1s ease;
}
.icon-restaurantUpload:hover{
    background-color: #3d5031;
    background-image:url(text-Upload.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}

.icon-restaurantList{
    background-image: url(icon-restaurant.png);
    transition:box-shadow 0.1s ease;
}
.icon-restaurantList:hover{
    background-color: #3d5031;
    background-image:url(text-restaurant.png);
    background-size:60px 60px;
    box-shadow:0px 0px 10px 10px #d9e670;
}