{% extends "index.html" %}

{% block sectionheader %}
<title>홈 화면</title>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!--slick slider 라이브러리 import-->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<script src="{{ url_for('static', filename='home.js') }}" defer></script>
<link rel="stylesheet" href="{{url_for('static', filename='home.css') }}">
{% endblock sectionheader %}

{% block section %}

<main class="pg_main">
    <article id="contents">
        <div class="floating-button">
            <div class="floating-hidden">
                <a href="/mapSearch">
                    <div class="floating icon-map"></div>
                </a>
                <a href="/list">
                    <div class="floating icon-restaurantList"></div>
                </a>
                <a href="/restaurantUpload">
                    <div class="floating icon-restaurantUpload"></div>
                </a>
            </div>
            <div class="floating icon-menu">
            </div>
        </div>
        <input type="hidden" name="test" value="">
        <section id="restaurantRecommend">
            <div id="menuType">
                <button class="typeButton current" id="typeTotal" data-tab="tab-1">total</button>
                <button class="typeButton" id="typeKorean" data-tab="tab-2">한식</button>
                <button class="typeButton" id="typeChinese" data-tab="tab-3">중식</button>
                <button class="typeButton" id="typeJapanese" data-tab="tab-4">일식</button>
                <button class="typeButton" id="typeWestern" data-tab="tab-5">양식</button>
                <button class="typeButton" id="typeCafe" data-tab="tab-6">카페</button>
            </div>
            <div class="moreList current tab-1">
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='total')}}';">+리스트 더보기</button>
            </div>
            <div class="moreList tab-2">
                <button onclick="mapSearch.html">+지도로 더보기</button>
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='한식')}}';">+리스트 더보기</button>
            </div>
            <div class="moreList tab-3">
                <button onclick="mapSearch.html">+지도로 더보기</button>
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='중식')}}';">+리스트 더보기</button>
            </div>
            <div class="moreList tab-4">
                <button onclick="mapSearch.html">+지도로 더보기</button>
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='일식')}}';">+리스트 더보기</button>
            </div>
            <div class="moreList tab-5">
                <button onclick="mapSearch.html">+지도로 더보기</button>
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='양식')}}';">+리스트 더보기</button>
            </div>
            <div class="moreList tab-6">
                <button onclick="mapSearch.html">+지도로 더보기</button>
                <button onclick="location.href='{{url_for('list_restaurants', page=i, category='카페')}}';">+리스트 더보기</button>
            </div>
            
            <div id="recommendBox">
                <button class='btn-nav prev-slick-arrow' id='prev-slick-arrow'></button>

                <div id="tab-1" class="tab-content current">
                    <div id="tab-1-1"class="recommendInnerBox current">
                        <ul class="forTabSize">
                            {% if tot_count > 0 %}
                            {%for total in totals%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{total[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{total[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{total[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{total[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{total[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-1-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if tot_count >6 %}
                            {%for total_sec in totals_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{total_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{total_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{total_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{total_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{total_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>

                <div id="tab-2" class="tab-content">
                    <div id="tab-2-1" class="recommendInnerBox current">
                        <ul class="forTabSize">
                            {% if kor_count > 0 %}
                            {%for korean in koreans%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{korean[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{korean[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{korean[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{korean[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{korean[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-2-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if kor_count >6 %}
                            {%for korean_sec in koreans_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{korean_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{korean_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{korean_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{korean_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{korean_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>

                <div id="tab-3" class="tab-content">
                    <div id="tab-3-1"class="recommendInnerBox current">
                        <ul class="forTabSize"> 
                            {% if chi_count > 0 %}
                            {%for chinese in chineses%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{chinese[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{chinese[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{chinese[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{chinese[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{chinese[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-3-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if chi_count >6 %}
                            {%for chinese_sec in chineses_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{chinese_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{chinese_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{chinese_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{chinese_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{chinese_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>
                <div id="tab-4" class="tab-content">
                    <div id="tab-4-1"class="recommendInnerBox current">
                        <ul class="forTabSize">
                            {% if jap_count > 0 %}
                            {%for japanese in japaneses%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{japanese[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{japanese[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{japanese[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{japanese[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{japanese[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-4-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if jap_count > 6 %}
                            {%for japanese_sec in japaneses_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{japanese_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{japanese_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{japanese_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{japanese_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{japanese_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>
                <div id="tab-5" class="tab-content">
                    <div id="tab-5-1" class="recommendInnerBox current">
                        <ul class="forTabSize">
                            {%if wes_count > 0 %}
                            {%for western in westerns%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{western[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{western[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{western[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{western[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{western[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-5-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if wes_count > 6 %}
                            {%for western_sec in westerns_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{western_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{western_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{western_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{western_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{western_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>
                <div id="tab-6" class="tab-content">
                    <div id="tab-6-1" class="recommendInnerBox current">
                        <ul class="forTabSize">
                            {% if caf_count > 0 %}
                            {%for cafe in cafes%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{cafe[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{cafe[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{cafe[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{cafe[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{cafe[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 없어요 ㅜㅜ. <br>맛집을 새로 등록해주세요!</div>{%endif%}
                        </ul>
                    </div>
                    <div id="tab-6-2" class="recommendInnerBox">
                        <ul class="forTabSize">
                            {% if caf_count > 6 %}
                            {%for cafe_sec in cafes_sec%}
                            <li class="innerslide">
                                <div class="restaurant-item" onclick="location.href='/view_detail/{{cafe_sec[1].Rname}}/';">
                                    <div class="thumb thumb1"
                                        style="background-image:url(../static/image/{{cafe_sec[1].image_path}})"></div>
                                    <div class="info">
                                        <p style="margin-top:70px;"></p>
                                        <div class="starBox">
                                        <div class="star-ratings">
                                            <div class="star-ratings-fill space-x-2 text-lg" id="starjs" style="width:{{cafe_sec[1].avg_rate_per}}%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                            <div class="star-ratings-base space-x-2 text-lg">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                            </div>
                                        </div><span class="starNum">&nbsp;&nbsp;({{cafe_sec[1].avg_rate}})</span></div>
                                        <div class="restaurantTitle">{{cafe_sec[1].Rname}}</div>
                                    </div>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}<div style="width:100%; height:240px;"><br>등록된 맛집이 6개 이하입니다!</div>{%endif%}
                        </ul>
                    </div>
                </div>

                <button class='btn-nav next-slick-arrow' id='next-slick-arrow'></button>
            </div>
        </section>

        <section id="restaurantOfMonth">
            <button id="btn_restaurantOfMonth">리뷰 왕 맛집</button>
            <div id="box_restaurantOfMonth">
                <div class="resBox_emoji">
                    <div id="silver">
                        <form method="post" action="/review_show/{{silver[1]['Rname']}}/">
                            <input type="hidden" name="restaurant_name" value="{{silver[1]['Rname']}}">
                        <a href="/review_show/{{silver[1]['Rname']}}/">
                            <div><button style="width:100%; cursor:pointer;">
                                <div class="medalBox" style="background-image:url(../static/image/{{silver[1]['image_path']}})">
                                </div>
                                <div>
                                    <div class="silverCrownFix">
                                        <object class="silverCrown" type="image/svg+xml"></object>
                                    </div>
                                    <div class="restaurantTitle">{{silver[1]['Rname']}}</div>
                                </div></button>
                            </div>
                        </a></form>
                    </div>
                    <div class="silveremojiFix">
                        <img class="silveremoji" src="{{url_for('static', filename='home/person1.png') }}">
                    </div>
                    <div class="silveremojiFix2">
                        <img class="talkemoji" src="{{url_for('static', filename='home/말풍선.png') }}">
                        <div class="sreviewTextFix">{%for i in range(snum)%}<div class="reviewText">★ ({{sreview[i]['star']}}.0)<br>{{sreview[i]['text']}}</div>{%endfor%}</div>
                    </div>
                </div>

                <div class="resBox_emoji" style="z-index:10; margin-top:10px;">
                    <div id="gold">
                        <form method="post" action="/review_show/{{gold[1]['Rname']}}/">
                            <input type="hidden" name="restaurant_name" value="{{gold[1]['Rname']}}">
                        <a href="/review_show/{{gold[1]['Rname']}}/">
                            <div><button style="width:100%; cursor:pointer;">
                                <div class="medalBox" style="background-image:url(../static/image/{{gold[1]['image_path']}})">
                                </div>
                                <div>
                                    <div class="goldCrownFix">
                                        <object class="goldCrown" type="image/svg+xml"></object>
                                    </div>
                                    <div class="restaurantTitle">{{gold[1]['Rname']}}</div>
                                </div></button>
                            </div>
                        </a></form>
                    </div>
                    <div class="goldemojiFix">
                        <img class="goldemoji" src="{{url_for('static', filename='home/person2.png') }}">
                    </div>
                    <div class="goldemojiFix2">
                        <img class="goldemoji" src="{{url_for('static', filename='home/person4.png') }}">
                    </div>
                </div>

                <div class="resBox_emoji" style="position:relative;">
                    <div id="bronze">
                        <form method="post" action="/review_show/{{bronze[1]['Rname']}}/">
                            <input type="hidden" name="restaurant_name" value="{{bronze[1]['Rname']}}">
                        <a href="/review_show/{{bronze[1]['Rname']}}/">
                            <div><button style="width:100%; cursor:pointer;">
                                <div class="medalBox" style="background-image:url(../static/image/{{bronze[1]['image_path']}})">
                                </div>
                                <div>
                                    <div class="bronzeCrownFix">
                                        <object class="bronzeCrown" type="image/svg+xml"></object>
                                    </div>
                                    <div class="restaurantTitle">{{bronze[1]['Rname']}}</div>
                                </div></button>
                            </div>
                        </a></form>
                    </div>
                    <div class="bronzeemojiFix">
                        <img class="bronzeemoji" src="{{url_for('static', filename='home/person3.png') }}">
                    </div>
                    <div class="bronzeemojiFix2">
                        <img class="talkemoji" src="{{url_for('static', filename='home/말풍선.png') }}">
                        <div class="breviewTextFix">{%for i in range(bnum)%}<div class="reviewText">★ ({{breview[i]['star']}}.0)<br>{{breview[i]['text']}}</div>{%endfor%}</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="quickMenu">
            <button id="box_quickMenu">Quick<br>Menu</button>
            <button id="goto-restaurantUpload" onclick="location.href='/restaurantUpload';">맛집 등록하기</button>
            <button id="goto-restaurantShow" onclick="location.href='/list';">맛집 리스트 전체보기</button>
            <button id="goto-mapSearch" onclick="location.href='/mapSearch';">지도로 맛집 찾아보기</button>
         </section>
    </article>
</main>
{% endblock section %}