<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <section>
            {% block sectionheader %}
 
            {% endblock sectionheader %}
         </section>
        <link rel="stylesheet" href="{{url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='footer.css') }}">
        <!--Jquery 사용위해 js추가 -->
        <scprit src = "https://code.jquery.com/jquery-latest.min.js"></scprit>
    </head>

    <body>
        <header>
            <!-- header 붙여넣기 -->
            <div class="headerbackground">
                <a href="/"><img class="osondoson" src="{{url_for('static', filename='osondoson.png') }}"></a>
            </div>
        </header>

        <section>
           {% block section %}

           {% endblock section %}
        </section>

        <footer>
            <div id="footer">
                <img class="osondoson" src="{{url_for('static', filename='osondoson.png') }}" alt="오손도손 로고">
                <div class="footer-text">
                    (주) 오손도손 컴퍼니<br>
                    서울특별시 서대문구 이화여대길 52, 아산공학관 1층<br>
                    ⓒ 2022. 오손도손 Co. Ltd. All rights reserved.
                </div>
            </div>
        </footer>
    </body>
</html>