{% extends "index.html" %}
{% block sectionheader %}
        <title>맛집조회테스트</title>
        <link rel="stylesheet" href="{{url_for('static', filename='paging.css') }}">
{% endblock sectionheader %}

{% block section %}

{% if total > 0 %}
<p>맛집 리스트 -- 현재까지 {{total}}개 등록됨</p>
{% for data in datas %}
<div>
<p>맛집이름: {{data[1].name}}</p>
<img src="{{data[1].img_path}}">
</div>
{% endfor %}
<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
<div class="page-nation">
<ul>
<li>
{% for i in range(page_count)%}
<a href="{{url_for('list_restaurants', page=i)}}" color="black">{{i}}</a>
{% endfor %}
</li>
</ul>
</div>
</div>
{% else %}
<p>등록된 맛집이 없습니다. </p>
{% endif %}

{% endblock section %}