<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
        <title>맛집리스트화면</title>
		<link rel="stylesheet" href="{{url_for('static', filename='list.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='footer.css') }}">
	</head>
	
	<body>
		<header>
            <!-- header 붙여넣기 -->
               <div class="headerbackground">
                   <a href="/"><img class="osondoson" src="../static/osondoson.png"></a>
               </div>
        </header>

		<div class="contents">
			<div id="menuType">
				<button class="typeButton" id="typetotal">total</button>
				<button class="typeButton" id="typeKorean">한식</button>
				<button class="typeButton" id="typeChinese">중식</button>
				<button class="typeButton" id="typeJapanese">일식</button>
				<button class="typeButton" id="typeWestern">양식</button>
				<button class="typeButton" id="typeCafe">카페</button>
			</div>

			<!-- SORT -->
			<div class="SORTAREA">
			<!-- sorting img -->
			<a class="sorting">
				<img src="../static/list/sorting sign.png" alt="sorting sign" width="40" height="40">
			</a>
				<!-- 가격대 select -->
				<select class="sort" id="price">
					<option value="all">&#8361;</a>&nbsp;&nbsp;가격대</option>
					<option value="<5000">~5000</option>
					<option value="10000~15000">10000~15000</option>
					<option value="15000~<20000">15000~20000</option>
					<option value=">20000">20000~</option>
				</select>

				<!-- 주차가능 -->
				<button class="sort" id="park" onclick="changeParkButton()">
					<b>&#8473;</b>&nbsp;&nbsp;주차가능
				</button>

				<!-- 영업 중 -->
				<button class="sort" id="open" onclick="changeOpenButton()">
					<b>&#9719;</b>&nbsp;&nbsp;영업중
				</button>
				<br>
			</div>

			<!-- 리스트  -->
				<div class="list">
					<a target="_blank" href="00식당사진">
						<img src="../static/list/food.jpg" alt="00식당사진" width=100% height=50%>
					</a>
					<div class="desc">
						<a class="store">00식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="aa식당사진">
						<img class="photo" src="../static/list/food2.jpg" alt="aa식당사진" width="45%" height="50%">
					</a>
					<div class="desc">
						<a class="store">aa식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.2 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="bb식당사진">
						<img src="../static/list/food3.jpg" alt="bb식당사진" width=auto height="400">
					</a>
					<div class="desc">
						<a class="store">bb식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>
				<!-- 리스트  -->
				<div class="list">
					<a target="_blank" href="00식당사진">
						<img src="../static/list/food.jpg" alt="00식당사진" width=100% height=50%>
					</a>
					<div class="desc">
						<a class="store">00식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="aa식당사진">
						<img class="photo" src="../static/list/food2.jpg" alt="aa식당사진" width="45%" height="50%">
					</a>
					<div class="desc">
						<a class="store">aa식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.2 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="bb식당사진">
						<img src="../static/list/food3.jpg" alt="bb식당사진" width=auto height="400">
					</a>
					<div class="desc">
						<a class="store">bb식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>
				<!-- 리스트  -->
				<div class="list">
					<a target="_blank" href="00식당사진">
						<img src="../static/list/food.jpg" alt="00식당사진" width=100% height=50%>
					</a>
					<div class="desc">
						<a class="store">00식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="aa식당사진">
						<img class="photo" src="../static/list/food2.jpg" alt="aa식당사진" width="45%" height="50%">
					</a>
					<div class="desc">
						<a class="store">aa식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.2 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>

				<div class="list">
					<a target="_blank" href="bb식당사진">
						<img src="../static/list/food3.jpg" alt="bb식당사진" width=auto height="400">
					</a>
					<div class="desc">
						<a class="store">bb식당</a><br>
						<a class="sub1">#혼밥가능</a><br>
						<a class="star">&#10030;&nbsp;</a>
						<a class="sub3">4.4 </a><br>
						<a class="sub1">02-000-0000</a>
					</div>
				</div>
		</div>

		<footer>
			<div id="footer">
				<img class="osondoson" src="../static/osondoson.png" alt="오손도손 로고">
				<div class="footer-text">
					(주) 오손도손 컴퍼니<br>
					서울특별시 서대문구 이화여대길 52, 아산공학관 1층<br>
					ⓒ 2022. 오손도손 Co. Ltd. All rights reserved.
				</div>
			</div>
		</footer>

	</body>
</html>