{% extends "index.html" %}

{% block sectionheader %}
    <title>지도로 맛집 찾기</title>
    <link rel="stylesheet" href="{{url_for('static', filename='mapSearch.css') }}">
{% endblock sectionheader %}

{% block section %}

    <!-- 탭 부분 -->
    <div id="menuType">
        <button class="typeButton" id="typeKorean">한식</button>
        <button class="typeButton" id="typeChinese">중식</button>
        <button class="typeButton" id="typeJapanese">일식</button>
        <button class="typeButton" id="typeWestern">양식</button>
        <button class="typeButton" id="typeCafe">카페</button>
    </div>

    <!-- 지도 칸 - 웹서버 돌려야 보임 -->
    <div id="map"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{map_key}}"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.55901644707541, 126.94566032683886), // 지도의 중심좌표 - 이화여대 정문
                level: 2 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 
    </script>

{% endblock section %}
