<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>지도로 맛집 찾기</title>
    <link rel="stylesheet" href="{{url_for('static', filename='mapSearch.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css') }}">
</head>

<body>
    <header>
        <!-- header 붙여넣기 -->
        <div class="headerbackground">
            <a href="/"><img class="osondoson" src="../static/osondoson.png"></a>
        </div>
    </header>

    <!-- 탭 부분 -->
    <div id="menuType">
        <button class="typeButton" id="typeKorean">한식</button>
        <button class="typeButton" id="typeChinese">중식</button>
        <button class="typeButton" id="typeJapanese">일식</button>
        <button class="typeButton" id="typeWestern">양식</button>
        <button class="typeButton" id="typeCafe">카페</button>
    </div>

    <!-- 지도 칸 - 웹서버 돌려야 보임 -->
    <div id="map"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=앱 키 여기에 복붙"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.55901644707541, 126.94566032683886), // 지도의 중심좌표 - 이화여대 정문
                level: 2 // 지도의 확대 레벨
            };

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 
    </script>

    <footer>
        <div id="footer">
            <img class="osondoson" src="../static/osondoson.png" alt="오손도손 로고">
            <div class="footer-text">
                (주) 오손도손 컴퍼니<br>
                서울특별시 서대문구 이화여대길 52, 아산공학관 1층<br>
                ⓒ 2022. 오손도손 Co. Ltd. All rights reserved.
            </div>
        </div>
    </footer>

</body>

</html>