<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>대표 메뉴 조회 화면</title>
    <link rel="stylesheet" href="{{url_for('static', filename='menuShow.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css') }}">
</head>

<body>

    <header>
        <!-- header 붙여넣기 -->
           <div class="headerbackground">
               <a href="/"><img class="osondoson" src="../static/osondoson.png"></a>
           </div>
    </header>

    <!--상단 바-->
    <div class="cover"
        style="border: 3px solid #506A4C; margin: 0px 60px; margin-top: 30px; position: relative; height: 800px;">

        <div class="bar" style="position: absolute; width: 100%; height: 100px;">
            <img src="../static/menuShow/bar.png" alt="사진 불러오기 실패" style="width: 100%; height: 100%;" />
            <div class="bar-title">
                <span style="color: #FFC000;">00 가게</span> 대표 메뉴 조회
            </div>

            <div class="bar-vegan">
                <div class="bar-veganImg">
                    <img src="../static/menuShow/vegan.png" alt="사진 불러오기 실패" style="width: 60px; height: 48px;" />
                </div>
                <div class="bar-veganTitle" style="font-family: 'NanumBarunGothic';">비건 표시</div>
            </div>
        </div>

        <!--대표 메뉴 리스트-->
        <div id="menu-list">
            <div class="menu-card">
                <div>
                    <img class="menu-img" src="../static/menuShow/food1.jpg" alt="사진 불러오기 실패">
                </div>
                <div class="menu-contents">
                    <img class="began-img" src="../static/menuShow/vegan.png" alt="사진 불러오기 실패"
                        style="float: right; margin-right: 20px; width: 60px; height: 48px; ">
                    <span
                        style=" font-size: 30px; font-family: 'BMHANNAPro'; margin-bottom: 12px; display: inline-block; background-color: #ffedb7;">풀문
                        Full_Moon</span>
                    <p style=" font-size: 23px; font-weight: bold; margin-bottom: 12px; ">\ 11,900</p>
                    <p style=" font-size: 18px; font-weight: bold; margin-bottom: 12px; ">알레르기: 땅콩, 토마토</p>
                    <div class="menu-detail">강황 렌틸콩밥과 바질두부튀김이 특징으로 올리브유, 허브&향신료를 활용하여 만들었습니다.</div>
                </div>
            </div>

            <div class="menu-card">
                <div>
                    <img class="menu-img" src="../static/menuShow/food2.jpg" alt="사진 불러오기 실패">
                </div>
                <div class="menu-contents">
                    <span
                        style=" font-size: 30px; font-family: 'BMHANNAPro'; margin-bottom: 12px; display: inline-block; background-color: #ffedb7;">뽀빠이
                        Popeye</span>
                    <p style=" font-size: 23px; font-weight: bold; margin-bottom: 12px; ">\ 13,000</p>
                    <p style=" font-size: 18px; font-weight: bold; margin-bottom: 12px; ">알레르기: 닭고기, 우유, 밀</p>
                    <div class="menu-detail">뽀빠이는 이스라엘 가정식 메뉴인 샥슈카 종류로 시금치,
                        버섯, 렌틸콩, 양파등 다양한 채소와 닭가슴살
                        그리고 수란이 들어간 스튜형태의 따듯한 건강식 메뉴입니다.</div>
                </div>
            </div>

            <div class="menu-card">
                <div>
                    <img class="menu-img" src="../static/menuShow/food3.jpg" alt="사진 불러오기 실패">
                </div>
                <div class="menu-contents">
                    <img class="began-img" src="../static/menuShow/vegan.png" alt="사진 불러오기 실패"
                        style="float: right; margin-right: 20px; width: 60px; height: 48px; ">
                    <span
                        style=" font-size: 30px; font-family: 'BMHANNAPro'; margin-bottom: 12px; display: inline-block; background-color: #ffedb7;">노바
                        Nova</span>
                    <p style=" font-size: 23px; font-weight: bold; margin-bottom: 12px; ">\ 13,000</p>
                    <p style=" font-size: 18px; font-weight: bold; margin-bottom: 12px; ">알레르기: 없음</p>
                    <div class="menu-detail">시금치 렌틸콩밥과 바질두부튀김이 특징으로 올리브유, 허브&향신료를 활용하여 만들었습니다.</div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer">
            <img class="osondoson" src="../static/osondoson.png" alt="오손도손 로고">
            <div class="footer-text">
                (주) 오손도손 컴퍼니<br>
                서울특별시 서대문구 이화여대길 52, 아산공학관 1층<br>
                ⓒ 2022. 오손도손 Co. Ltd. All rights reserved.
            </div>
        </div>
    </footer>

</body>



</html>