{% extends "index.html" %}

{% block sectionheader %}
<title>대표 메뉴 조회 화면</title>
<link rel="stylesheet" href="{{url_for('static', filename='menuShow.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='paging.css') }}">
{% endblock sectionheader %}

{% block section %}

<!--상단 바-->
<div class="cover"
    style="border: 3px solid #506A4C; margin: 0px 60px; margin-top: 30px; position: relative; height: 850px;">

    <div class="bar" style="position: absolute; width: 100%; height: 100px;">
        <img src="{{url_for('static', filename='menuShow/bar.png')}}" alt="사진 불러오기 실패"
            style="width: 100%; height: 100%;" />
        <div class="bar-title">
            <span style="color: #FFC000;">{{res_name}}</span> 대표 메뉴 조회
        </div>

        <div class="bar-vegan">
            <div class="bar-veganImg">
                <img src="{{url_for('static', filename='menuShow/vegan.png')}}" alt="사진 불러오기 실패"
                    style="width: 60px; height: 48px;" />
            </div>
            <div class="bar-veganTitle" style="font-family: 'NanumBarunGothic';">비건 표시</div>
        </div>
    </div>

    <!--대표 메뉴 리스트-->
    {% if total > 0 %}
    <div id="menu-list">
        {% for data in datas %}
        <div class="menu-card">
            
           <div class="menu-img-box"
                style="background-image:url(../../static/menu-image-upload/{{data[1].image_path}})">
            </div>
            <div class="menu-contents">
                {% if data['vegan'] == "vegan" %}
                <img class="began-img" src="{{url_for('static', filename='menuShow/vegan.png') }}" alt="사진 불러오기 실패"
                    style="float: right; margin-right: 20px; width: 60px; height: 48px; ">
                {% endif %}
                <span
                    style=" font-size: 30px; font-family: 'BMHANNAPro'; margin-bottom: 12px; display: inline-block; background-color: #ffedb7;">
                    {{data[1].menuname}}</span>
                <p style=" font-size: 23px; font-weight: bold; margin-bottom: 12px; ">\{{data[1].menuprice}}</p>
                <p style=" font-size: 18px; font-weight: bold; margin-bottom: 12px; ">알레르기: {{data[1].allergylist}}</p>
                <div class="menu-detail">{{data[1].menudetail}}</div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p style="position: absolute; top: 0; margin-top: 130px; font-family: 'BMHANNAPro';font-size:30px; margin-left:50px;">
            등록된 메뉴가 없습니다.
        </p>
        {% endif %}
    </div>
    <!-- 페이지네이션을 위한 코드 시작 -->
    <div class="page-wrap" style="margin-top: 60px;">
        <div class="page-nation">
            <ul>
                <li>
                    {% for i in range(page_count)%}
                    <a href="{{url_for('view_foods', res_name=res_name ,page=i)}}" color="black">{{i}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock section %}