{% extends "index.html" %}

{% block sectionheader %}
    <title> 맛집 등록 화면</title>
    <link rel="stylesheet" href="{{url_for('static', filename='restaurantUpload.css') }}">
{% endblock sectionheader %}

{% block section %}
    <div id="main">
        <nav> <img src="../static/restaurantUpload/resregbar.png" alt="barimg" style="width: 100%; height:100px;"></nav>

        <form action="/submit_restaurant_post" method="post">
            <!--맛집 등록 입력창 table-->
            <table>

                <tr>
                    <td><label>식당이름</label></td>
                    <td><input type="text" id="Rname" name="Rname" value=""></td>
                </tr>
                <tr>
                    <td><label for="address">주소</label></td>

                    <!--주소찾기 버튼 연결-->
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function (data) {
                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var addr = ''; // 주소 변수

                                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                        addr = data.roadAddress;
                                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                        addr = data.jibunAddress;
                                    }

                                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                    document.getElementById("address").value = addr;
                                    // 커서를 상세주소 필드로 이동한다.
                                    document.getElementById("address").focus();
                                }
                            }).open();
                        }
                    </script>

                    <td><input type="text" id="address" name="address" value="">
                        <input type="button" onclick="execDaumPostcode()" value="찾기">
                    </td>
                </tr>

                <!--전화 번호 입력-->
                <tr>
                    <td><label for="tel">전화번호</label></td>
                    <td><input type="text" id="tel1" name="tel1" value="" style="width:70px;"> -
                        <input type="text" id="tel2" name="tel2" value=""> -
                        <input type="text" id="tel3" name="tel3" value="">
                    </td>
                </tr>

                <!--음식 종류 선택-->
                <tr>
                    <td><label for="select-food category">음식 category</label></td>
                    <td><select id="select-food category" name="foodchoice">
                            <option name="foodchoice" value="empty">-----------</option>
                            <option name="foodchoice" value="한식">한식</option>
                            <option name="foodchoice" value="중식">중식</option>
                            <option name="foodchoice" value="일식">일식</option>
                            <option name="foodchoice" value="양식">양식</option>
                            <option name="foodchoice" value="카페">카페</option>
                        </select>
                    </td>
                </tr>

                <!--키워드 선택-->
                <tr>
                    <td><label for="keyword">키워드</label></td>
                    <td><select id="selec-mood" name="moodchoice">
                            <option name="moodchoice" value="empty">분위기</option>
                            <option name="moodchoice" value="#분위기 좋은">#분위기좋은</option>
                            <option name="moodchoice" value="#넓은장소">#넓은장소</option>
                            <option name="moodchoice" value="#혼밥가능">#혼밥가능</option>
                            <option name="moodchoice" value="#아기자기한">#아기자기한</option>
                        </select></td>
                </tr>

                <!--가격대 선택-->
                <tr>
                    <td> <label for="price">가격대</label></td>
                    <td><select id="select-price" name="pircechoice">
                            <option value="empty">----------------------</option>
                            <option name="pircechoice" value="~5000">~5,000</option>
                            <option name="pircechoice" value="5,000~10000">5,000~10,000</option>
                            <option name="pircechoice" value="10,000~15,000">10,000~15,000</option>
                            <option name="pircechoice" value="15,000~20,000">15,000~20,000</option>
                            <option name="pircechoice" value="20000~">20,000~</option>
                        </select></td>
                </tr>

                <!--주차여부 선택-->
                <tr>
                    <td><label for="parking">주차여부</label></td>
                    <!--주차여부 버튼 하나만 선택 -->
                    <script>
                        function checkOnlyOne(element) {

                            const checkboxes
                                = document.getElementsByName("parking");

                            checkboxes.forEach((cb) => {
                                cb.checked = false;
                            })

                            element.checked = true;

                        }</script>
                    <td><input type="checkbox" id="parkingo" name="parking" value="주차 가능" onclick='checkOnlyOne(this);'
                            getCheckboxValue()' />
                        <a>주차 가능</a>
                        <input type="checkbox" id="parkingx" name="parking" value="주차 불가" onclick='checkOnlyOne(this);'
                            getCheckboxValue()' />
                        <a>주차 불가</a>
                    </td>
                </tr>

                <!--영업 시간 선택-->
                <tr>
                    <td> <label for="opening">영업시간</label></td>
                    <td><select id="select-openhour" name="openhour">
                            <option name="openhour" value="0"> </option>
                            <option name="openhour" value="1">1</option>
                            <option name="openhour" value="2">2</option>
                            <option name="openhour" value="3">3</option>
                            <option name="openhour" value="4">4</option>
                            <option name="openhour" value="5">5</option>
                            <option name="openhour" value="6">6</option>
                            <option name="openhour" value="7">7</option>
                            <option name="openhour" value="8">8</option>
                            <option name="openhour" value="9">9</option>
                            <option name="openhour" value="10">10</option>
                            <option name="openhour" value="11">11</option>
                            <option name="openhour" value="12">12</option>
                            <option name="openhour" value="13">13</option>
                            <option name="openhour" value="14">14</option>
                            <option name="openhour" value="15">15</option>
                            <option name="openhour" value="16">16</option>
                            <option name="openhour" value="17">17</option>
                            <option name="openhour" value="18">18</option>
                            <option name="openhour" value="19">19</option>
                            <option name="openhour" value="20">20</option>
                            <option name="openhour" value="21">21</option>
                            <option name="openhour" value="20">20</option>
                            <option name="openhour" value="21">21</option>
                            <option name="openhour" value="22">22</option>
                            <option name="openhour" value="23">23</option>
                            <option name="openhour" value="24">24</option>
                        </select>
                        :
                        <select id="select-min" name="openmin">
                            <option name="openmin" value="empty"></option>
                            <option name="openmin" value="00">00</option>
                            <option name="openmin" value="10">10</option>
                            <option name="openmin" value="20">20</option>
                            <option name="openmin" value="30">30</option>
                            <option name="openmin" value="40">40</option>
                            <option name="openmin" value="50">50</option>
                        </select>
                        ~
                        <select id="select-closehour" name="closehour">
                            <option name="closehour" value="empty"> </option>
                            <option name="closehour" value="1">1</option>
                            <option name="closehour" value="2">2</option>
                            <option name="closehour" value="3">3</option>
                            <option name="closehour" value="4">4</option>
                            <option name="closehour" value="5">5</option>
                            <option name="closehour" value="6">6</option>
                            <option name="closehour" value="7">7</option>
                            <option name="closehour" value="8">8</option>
                            <option name="closehour" value="9">9</option>
                            <option name="closehour" value="10">10</option>
                            <option name="closehour" value="11">11</option>
                            <option name="closehour" value="12">12</option>
                            <option name="closehour" value="13">13</option>
                            <option name="closehour" value="14">14</option>
                            <option name="closehour" value="15">15</option>
                            <option name="closehour" value="16">16</option>
                            <option name="closehour" value="17">17</option>
                            <option name="closehour" value="18">18</option>
                            <option name="closehour" value="19">19</option>
                            <option name="closehour" value="20">20</option>
                            <option name="closehour" value="21">21</option>
                            <option name="closehour" value="20">20</option>
                            <option name="closehour" value="21">21</option>
                            <option name="closehour" value="22">22</option>
                            <option name="closehour" value="23">23</option>
                            <option name="closehour" value="24">24</option>
                        </select>
                        :
                        <select id="select-min2" name="closemin">
                            <option name="closemin" value="empty"></option>
                            <option name="closemin" value="00">00</option>
                            <option name="closemin" value="10">10</option>
                            <option name="closemin" value="20">20</option>
                            <option name="closemin" value="30">30</option>
                            <option name="closemin" value="40">40</option>
                            <option name="closemin" value="50">50</option>
                        </select>
                    </td>

                    <!--대표 사진 업로드-->
                <tr>
                    <td><label for="picture">외부 또는 내부 대표사진</label></td>
                    <td>
                        <input type="image" id="picture" name="picture" value="">
                        <button class="fileupload" onclick="">파일 선택</button>
                    </td>
                </tr>

            </table>
            <div style=" text-align: center;">
                <input type="submit" value="저장" />
            </div>
            <!--맛집 대표 메뉴 등록 이어하기 버튼-->
            <button class="gotomenuUpload" onclick="location.href='menuUpload.html'">맛집 대표 메뉴 등록 이어하기 &#9654;</button>
        </form>

    </div>
{% endblock section %}
