{% extends "index.html" %}

{% block sectionheader %}
<title>리뷰 조회 화면</title>
<link rel="stylesheet" href="{{url_for('static', filename='reviewShow.css') }}">
{% endblock sectionheader %}

{% block section %}

<!--상단 4개의 메뉴 바-->

<div class="bar">
    <div class="bar-name" style="width: 25%;"><span style="color: #FFC000;">{{res_name}}</span> 리뷰</div>
    <div class="bar-rank" style="width: 15%;"><span style="color: #FFc000; font-size: 40px;">★ </span>{{avg_rate}}/5.0
    </div>
    <div class="bar-review" style="width: 15%;">리뷰 수 {{review_num}}</div>
    <div class="bar-goto" style="width: 30%; cursor: pointer;" OnClick="location.href='/view_detail/{{res_name}}'"><span style="color: #FFC000;">{{res_name}}</span> 세부정보로 이동</div>
</div>


<!--리뷰 리스트-->
<div id="review-list">
    {% if review_num > 0 %} <!--1. 등록된 리뷰가 있는 경우-->
    {% for data in datas %} <!--리뷰 개수만큼 review-card 반복 출력-->
    <div class="review-card">
        <div style="display: inline-block; vertical-align:top;">
            <img class="review-img" src="../../static/review-image/{{data.image_path}}" onerror="this.src='../../static/image/failed.png';"/>
        </div>

        <div style="color: gray; font-size: 25px; position: absolute; top: 10px; right: 15px;">{{data.nickname}}
        </div>

        <div class="review-contents" style="display:inline-block; margin-left: 25px;">
            <span style="display: inline-block; margin-bottom: 10px;"><span style="color: #FFc000; font-size: 40px; font-family: 'BMJUA';">★ </span>평점 {{data.star}}/5</span>
            <p style="margin-bottom: 10px; font-size: 22px; color: gray;">{{data.mood}}   {{data.taste}}</p>
            <p>{{data.text}}</p>
        </div>
    </div>
    {% endfor %}

    {%else%} <!--2. 등록된 리뷰가 없는 경우-->
    <h1>등록된 리뷰가 없습니다</h1>
    {%endif%}

</div>

{% endblock section %}